Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

ovn-dbs-bundle: Prepare for supporting new OVN version with separarte run dirs
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Allow override of mysql/galera open files limit
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Finish HAProxy config for metrics_qdr
  manifests/haproxy.pp
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support for Dell EMC VXFlexOS Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_vxflexos.pp
  releasenotes/notes/vxflexos-driver-aec8e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_cinder_vxflexos_spec.rb
Due: none

Make haproxy.pp honor EnableInternalTLS for rgw
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Switch Octavia API to use source balancing
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Powermax Config Fixes
  manifests/profile/base/cinder/volume/dellemc_powermax.pp
  spec/classes/tripleo_profile_base_cinder_powermax_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: none

Fix the default values for ca_file and cert_file
  manifests/network/contrail/neutron_plugin.pp
Due: none

Enable to modify params of logrotate-crond.conf
  manifests/profile/base/logging/logrotate.pp
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Make promote timeout configurable
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Cleanup remaining implementation for EC2 API
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make puppet-tripleo compatible with latest puppet-rabbitmq
  manifests/certmonger/rabbitmq.pp
  spec/classes/tripleo_certmonger_rabbitmq_spec.rb
Due: none

Fix RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS usage with a proper override mechanism
  manifests/profile/base/rabbitmq.pp
Due: none

Fix haproxy ceph dashboard condition
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix puppet-lint warnings
  manifests/certmonger/ca/crl.pp
  manifests/profile/base/nova/conductor.pp
  manifests/profile/base/tuned.pp
  manifests/ui.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure post-save certmonger scripts target the right HA container
  files/certmonger-haproxy-refresh.sh
  files/certmonger-rabbitmq-refresh.sh
Due: none

Remove deprecated keystone::enable_bootstrap
  manifests/profile/base/keystone.pp
Due: none

Make the additional_erl_args change more independent
  manifests/profile/base/rabbitmq.pp
Due: none

Include neutron::db
  manifests/profile/base/neutron/server.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove stonith level warning when running on a non cluster node
  lib/facter/stonith_levels.rb
Due: none

Fix RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS usage with a proper override mechanism + Make the additional_erl_args change more independent
  manifests/profile/base/rabbitmq.pp
Due: none

Ensure that the HAProxy certificate is updated
  files/certmonger-haproxy-refresh.sh
Due: none

Add support for trust_flush cron job in keystone
  manifests/profile/base/keystone.pp
  spec/classes/tripleo_profile_base_keystone_spec.rb
Due: none

Remove support for token_flush cron job
  manifests/profile/base/keystone.pp
  spec/classes/tripleo_profile_base_keystone_spec.rb
Due: none

Add FFU support for ceph_nfs
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Switch RGW HAProxy healthcheck to use special RGW healthcheck url
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
