Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Write TLS config under section [client] in tripleo.cnf
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Add nova::cinder to nova compute
  manifests/profile/base/nova/compute.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include 'octavia' driver on ML2/OVN deployments
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make sure to set umask 022 for nova_migration_target logins
  manifests/profile/base/nova/migration/target.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix horizon firewall rules in composable roles
  manifests/haproxy.pp
  manifests/haproxy/horizon_endpoint.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Retiring TripleO-UI
  manifests/ui.pp
  spec/classes/tripleo_ui_spec.rb
Due: none

Fix tripleo::haproxy::stats to be more correct and flexible
  manifests/haproxy.pp
  manifests/haproxy/stats.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix amphora provider driver description
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove aide puppet manifest
  manifests/profile/base/aide.pp
  manifests/profile/base/aide/cron.pp
  manifests/profile/base/aide/installdb.pp
  manifests/profile/base/aide/rules.pp
  releasenotes/notes/aide-removed-14f41082b1424a53.yaml
  spec/classes/tripleo_profile_base_aide_spec.rb
Due: none

Rebuild initramfs after applying change in kernel parameters
  manifests/profile/base/kernel.pp
Due: none

Add support for external Ganesha service in Manila Share profile
  manifests/profile/base/manila/share.pp
Due: none

IHA robustness improvements
  manifests/profile/base/pacemaker/instance_ha.pp
Due: none

Switch metrics qdrs to edge mode
  manifests/profile/base/metrics/qdr.pp
Due: none

Refactor collectd/gnocchi integration
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/gnocchi.pp
  templates/collectd/collectd-gnocchi.conf.erb
Due: none

Don't require memcached_node_ips when deploying keystone
  manifests/profile/base/keystone.pp
Due: none

Allow external Ganesha for the cephfs manila backend
  manifests/profile/pacemaker/manila/share_bundle.pp
  spec/classes/tripleo_profile_pacemaker_manila_share_bundle_spec.rb
Due: none

Make sure we pass the proper new pcs 0.10 variables
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker_remote.pp
Due: none

Add region support for instance HA
  manifests/profile/base/pacemaker/instance_ha.pp
  spec/classes/tripleo_profile_base_pacemaker_spec.rb
Due: none

Remove Neutron LBaaS
  manifests/profile/base/neutron/agents/lbaas.pp
  manifests/profile/base/neutron/lbaas.pp
  manifests/profile/pacemaker/neutron/lbaas.pp
  releasenotes/notes/remove-neutron-lbaas-f6337e030a200b64.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
