Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove kernel class
  manifests/profile/base/kernel.pp
  spec/classes/tripleo_profile_base_kernel_spec.rb
Due: none

Remove deprecated securetty
  manifests/profile/base/securetty.pp
  spec/classes/tripleo_profile_base_securetty_spec.rb
Due: none

Remove unused time/ptp class
  manifests/profile/base/time/ptp.pp
Due: none

Remove k8s from haproxy
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable sudo rule creation
  manifests/profile/base/metrics/collectd/sensubility.pp
  spec/classes/tripleo_profile_base_metrics_collectd_sensubility_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Remove OpenShift API from haproxy LB configuration
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use short prameter names for nova::network::neutron
  spec/fixtures/hieradata/default.yaml
Due: none

Add support for glance multistore
  manifests/profile/base/glance/api.pp
  manifests/profile/base/glance/backend/cinder.pp
  manifests/profile/base/glance/backend/file.pp
  manifests/profile/base/glance/backend/rbd.pp
  manifests/profile/base/glance/backend/swift.pp
  releasenotes/notes/glance-multistore-766022d470827d1d.yaml
  spec/classes/tripleo_profile_base_glance_api_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_cinder_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_file_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_rbd_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_swift_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

HA: fix rabbitmq readiness check for rabbitmq-server 3.8
  manifests/profile/pacemaker/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Add replication_probe_interval for ovsdbs
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  releasenotes/notes/replication_probe_interval_ovn_dbs-df22bef3bb12a0f7.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Remove wsgi enabled parameters in nova
  manifests/profile/base/nova/api.pp
  releasenotes/notes/nova-remove-wsgi-enabled-5899b7d6d77a4fd4.yaml
  spec/classes/tripleo_profile_base_nova_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add Certmonger ceph_rgw class to config tls
  files/certmonger-rgw-refresh.sh
  manifests/certmonger/ceph_rgw.pp
  manifests/profile/base/certmonger_user.pp
Due: none

Revert "Add replication_probe_interval for ovsdbs"
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  releasenotes/notes/replication_probe_interval_ovn_dbs-df22bef3bb12a0f7.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

set x-forwarded-port header for proxied requests
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enforce firewall rules before pacemaker-auth
  manifests/profile/base/pacemaker.pp
Due: none

Make sure we create stonith resources before stonith levels
  manifests/fencing.pp
Due: none

Fix restart unit condition on radosgw
  files/certmonger-rgw-refresh.sh
Due: none

Add ceph dashboard frontend endpoint and tls-e integration
  files/certmonger-dashboard-refresh.sh
  manifests/certmonger/ceph_dashboard.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/ceph_dashboard_endpoint-10035021352fc190.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Revert "Remove neutron wrappers"
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  spec/defines/tripleo_profile_base_neutron_wrappers_dibbler_client_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dnsmasq_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_radvd_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove duplicate entry of collectd-python package
  manifests/profile/base/metrics/collectd.pp
  spec/classes/tripleo_profile_base_metrics_collectd_spec.rb
Due: none

Make all mysql root users managed during stack creation/update
  manifests/profile/base/database/mysql.pp
Due: none

Add Octavia OVN Provider configuration (1 of 2)
  manifests/certmonger/ovn_octavia.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/octavia/provider/ovn.pp
  releasenotes/notes/add-octavia-provider-ovn-6734aa08af4772e4.yaml
  spec/classes/tripleo_profile_base_octavia_provider_ovn_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix grafana haproxy frontend ip variable
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

pacemaker-remote is broken on CentOS/RHEL < 8
  manifests/profile/base/pacemaker_remote.pp
Due: none

Handle ipv6 addresses in etcd and cinder's backend_url
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/etcd.pp
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_etcd_spec.rb
Due: none

Add unit test job on CentOS8
  zuul.d/layout.yaml
Due: none

Support for mariadb's ed25519 authentication
  files/mysql_ed25519_password.py
  lib/puppet/functions/mysql_ed25519_password.rb
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/database/mysql/include_and_check_auth.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Replace deprecated gnocchi::storage::coordination_url
  manifests/profile/base/gnocchi.pp
  manifests/profile/base/gnocchi/api.pp
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Use memcached for token caching in designate authtoken
  manifests/profile/base/designate/authtoken.pp
  spec/classes/tripleo_profile_base_designate_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Add heat::cache to heat profile
  manifests/profile/base/heat.pp
Due: none

Add missing unit tests for heat manifests
  spec/classes/tripleo_profile_base_heat_api_cfn_spec.rb
  spec/classes/tripleo_profile_base_heat_api_spec.rb
  spec/classes/tripleo_profile_base_heat_engine_spec.rb
  spec/classes/tripleo_profile_base_heat_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Set memcache_servers for heat::cache automatically
  manifests/profile/base/heat.pp
  spec/classes/tripleo_profile_base_heat_spec.rb
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
