Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container

Include octavia::controller
  manifests/profile/base/octavia/api.pp
  manifests/profile/base/octavia/health_manager.pp
  manifests/profile/base/octavia/housekeeping.pp
  manifests/profile/base/octavia/worker.pp
Due: none

Update mailinglist from dev to discuss
  setup.cfg
Due: none

Add support for native TLS encryption on NBD for disk migration
  manifests/certmonger/ca/qemu.pp
  manifests/certmonger/qemu.pp
  manifests/certmonger/qemu_dirs.pp
  manifests/certmonger/qemu_nbd_dirs.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/nova_qemu_native_tls_encryption_on_nbd_for_disk_migration-2e16003c4764a399.yaml
Due: none

Add ability to configure Cinder's NFS snapshot support
  manifests/profile/base/cinder/volume/nfs.pp
  releasenotes/notes/add-cinder-nfs-snapshot-support-ac547f24dddf97e8.yaml
  spec/classes/tripleo_profile_base_cinder_volume_nfs_spec.rb
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Increase websocket timeout
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container

Remove tripleo::profile::base::docker and docker_registry
  manifests/profile/base/docker.pp
  manifests/profile/base/docker_registry.pp
  spec/classes/tripleo_profile_base_docker_spec.rb
Due: none

Enable support for openidc federation in keystone
  manifests/profile/base/keystone.pp
Due: none

Remove some of the excessive rabbitmq bundle logging
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Ironic Inspector - disjoint ip range(s) for HA
  manifests/profile/base/ironic_inspector.pp
  releasenotes/notes/ironic-inspector-disjoint-inspection-ip-range-f10297dd32f3721b.yaml
Due: none

Allow user to define a custom tuned profile
  manifests/profile/base/tuned.pp
  spec/classes/tripleo_profile_base_tuned_spec.rb
Due: none

Drop baremetal job template
  zuul.d/layout.yaml
Due: none

Allow mysql options to be set for the HA bundle
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Add additional tuning options for mariadb/galera
  manifests/profile/base/database/mysql.pp
Due: none

Fix new mariadb ipv6 issue
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Add explicit logging class inclusion
  manifests/profile/base/aodh.pp
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/cinder.pp
  manifests/profile/base/congress.pp
  manifests/profile/base/designate.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi.pp
  manifests/profile/base/heat.pp
  manifests/profile/base/ironic.pp
  manifests/profile/base/ironic_inspector.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/manila.pp
  manifests/profile/base/mistral.pp
  manifests/profile/base/neutron.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/octavia.pp
  manifests/profile/base/panko.pp
  manifests/profile/base/sahara.pp
  manifests/profile/base/tacker.pp
  manifests/profile/base/zaqar.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix linting issues
  manifests/certmonger/ca/crl.pp
  manifests/certmonger/qemu.pp
  manifests/profile/base/cinder/volume/rbd.pp
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  manifests/profile/base/tuned.pp
  manifests/ui.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make sure we do not match multiple remotes when waiting for them
  manifests/profile/base/pacemaker.pp
Due: none

pass list of memcache servers to keystone::federation::openidc
  manifests/profile/base/keystone.pp
Due: none

remove ssh from tripleo::firewall::pre
  manifests/firewall/pre.pp
  spec/classes/tripleo_firewall_spec.rb
Due: none

Temporary remove selinux label mount option for neutron
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: none

ceilometer: escape % in crontab
  manifests/profile/base/ceilometer/expirer.pp
  spec/classes/tripleo_profile_base_ceilometer_expirer_spec.rb
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Replace tripleo-scenario002-multinode with scenario002-standalone
  zuul.d/layout.yaml
Due: none

Remove MongoDB
  manifests/certmonger/mongodb.pp
  manifests/certmonger/novnc_proxy.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/database/mongodb.pp
  manifests/profile/base/database/mongodbcommon.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/zaqar.pp
  manifests/profile/pacemaker/database/mongodbvalidator.pp
  releasenotes/notes/mongodb_drop-02daffbfe4975cb9.yaml
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add retries to HA bundles
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Replace tripleo scenario004-multinode with scenario004-standalone
  zuul.d/layout.yaml
Due: none

Prevent systemd unit files to be created to restart services
  manifests/profile/base/apache.pp
  manifests/profile/base/memcached.pp
Due: none

Configure switchedv while there is no vfs bounded
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  manifests/host/sriov/numvfs_persistence.pp
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Replace scenario001-multinode with scenario001-standalone
  zuul.d/layout.yaml
Due: none

Only include neutron::designate class in neutron server
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/server.pp
Due: none

Add scenario002 standalone to gate as well as it is voting
  zuul.d/layout.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/ceph.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/ceph.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/ceph.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
