Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Filter apache_certificates_specs if hostname is empty
  manifests/profile/base/certmonger_user.pp
Due: none

Prepare stein-2
  metadata.json
Due: none

Replace mysql invalid open_files_limit of -1 with 65536
  manifests/profile/base/database/mysql.pp
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Add layout.yaml into the scenario003-standalone files: section
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Use the tripleo-standalone-scenarios-full template
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Fluentd deprecation
  manifests/profile/base/logging/fluentd.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Sensu-client deprecation
  manifests/profile/base/monitoring/rabbitmq.pp
  manifests/profile/base/monitoring/sensu.pp
  manifests/profile/base/monitoring/uchiwa.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Aodh deprecation
  manifests/profile/base/aodh/api.pp
  manifests/profile/base/aodh/evaluator.pp
  manifests/profile/base/aodh/listener.pp
  manifests/profile/base/aodh/notifier.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Modify puppet version 4 to 5
  metadata.json
Due: none

Configure switchedv while there is no vfs bounded
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  manifests/host/sriov/numvfs_persistence.pp
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Make the neutron-haproxy-wrapper compatible with haproxy 1.8
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  templates/neutron/haproxy.epp
Due: none

Explicitly set certmonger's CA cert's permissions
  manifests/certmonger/ca/local.pp
  spec/classes/tripleo_certmonger_ca_local_spec.rb
Due: none

Create barbican's creator role by default
  manifests/profile/base/keystone.pp
Due: none

Loadbalance keystone's admin endpoints towards the internal backends
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow disabling nova::cache
  manifests/profile/base/nova.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Configure the Metadata Agent only when enable_metadata_agent is set
  manifests/profile/base/neutron/agents/nuage.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure we get a clean firewall
  manifests/firewall.pp
Due: none

Redirect keystone admin endpoint to public endpoint
  manifests/haproxy.pp
  manifests/haproxy/endpoint.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix interface_for_ip for newer facter versions
  lib/puppet/parser/functions/interface_for_ip.rb
Due: none

Reload HAProxy when certificate is renewed
  files/certmonger-haproxy-refresh.sh
  manifests/certmonger/haproxy.pp
  manifests/profile/base/certmonger_user.pp
Due: none

httpd: Remove default post-save command for certmonger
  manifests/certmonger/httpd.pp
  manifests/profile/base/certmonger_user.pp
Due: none

Allow user to define a custom tuned profile
  manifests/profile/base/tuned.pp
  spec/classes/tripleo_profile_base_tuned_spec.rb
Due: none

rabbitmq: Remove default post-save command for certmonger
  files/certmonger-rabbitmq-refresh.sh
  manifests/certmonger/rabbitmq.pp
Due: none

redis: Remove default post-save command for certmonger
  files/certmonger-redis-refresh.sh
  manifests/certmonger/redis.pp
Due: none

Load python3 mod_wsgi for fedora/rhel8
  manifests/profile/base/apache.pp
  manifests/profile/base/horizon.pp
Due: none

noop package installations inside containers
  manifests/packages.pp
Due: none

Remove postsave_cmd and restart libvirt on cert files change
  manifests/certmonger/qemu.pp
  releasenotes/notes/qemu_remove_postsave_cmd-07ad04ac44d7b706.yaml
Due: none

Set pacemaker cluster_members_addr
  manifests/profile/base/pacemaker.pp
Due: none

Only request certs in step 1
  manifests/profile/base/certmonger_user.pp
Due: none

Remove default post-save command from mysql
  manifests/certmonger/mysql.pp
  spec/classes/tripleo_certmonger_mysql_spec.rb
Due: none

novnc-proxy: Remove default post-save command for certmonger
  files/certmonger-novnc-proxy-refresh.sh
  manifests/certmonger/novnc_proxy.pp
Due: none

neutron dhcpd: Add script for certmonger postsave_cmd
  files/certmonger-neutron-dhcpd-refresh.sh
  manifests/certmonger/neutron.pp
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
