Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

keystone: remove the keystone resource management
  manifests/profile/base/keystone.pp
Due: none

Allow mysql haproxy stanza do be customized
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support to configure virtlogd
  manifests/profile/base/nova/libvirt.pp
  releasenotes/notes/virtlogd_config-8bc3aad489caf8a3.yaml
  spec/classes/tripleo_profile_base_nova_libvirt_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make rsyslog file_input bulletproof
  manifests/profile/base/logging/rsyslog/file_input.pp
  spec/defines/tripleo_profile_base_logging_rsyslog_file_input_spec.rb
Due: none

Make the bundle user configurable via hiera
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable metrics qdr to use public VIP
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove unused manila_share_nodes_count variable
  manifests/profile/pacemaker/manila/share_bundle.pp
Due: none

Add short node name override support to manila
  manifests/profile/pacemaker/manila/share_bundle.pp
  spec/classes/tripleo_profile_pacemaker_manila_share_bundle_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Make pipeline config more flexible
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/ceilometer/agent/notification.pp
  spec/classes/tripleo_profile_base_ceilometer_agent_notification_spec.rb
Due: none

HA: Honour all hiera override variables in mysql_bundle
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Use ctlplane for internal QDR communication
  manifests/profile/base/metrics/qdr.pp
  spec/classes/tripleo_profile_base_metrics_qdr_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Use memcached for token caching in designate authtoken
  manifests/profile/base/designate/api.pp
  manifests/profile/base/designate/authtoken.pp
  spec/classes/tripleo_profile_base_designate_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Change the name of the HAProxy service to reflict the new name
  manifests/profile/base/certmonger_user.pp
Due: none

Add ceph dashboard frontend endpoint and tls-e integration
  files/certmonger-dashboard-refresh.sh
  manifests/certmonger/ceph_dashboard.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/ceph_dashboard_endpoint-10035021352fc190.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support for glance multistore
  manifests/profile/base/glance/api.pp
  manifests/profile/base/glance/backend/cinder.pp
  manifests/profile/base/glance/backend/file.pp
  manifests/profile/base/glance/backend/rbd.pp
  manifests/profile/base/glance/backend/swift.pp
  releasenotes/notes/glance-multistore-766022d470827d1d.yaml
  spec/classes/tripleo_profile_base_glance_api_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_cinder_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_file_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_rbd_spec.rb
  spec/classes/tripleo_profile_base_glance_backend_swift_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable sudo rule creation
  manifests/profile/base/metrics/collectd/sensubility.pp
  spec/classes/tripleo_profile_base_metrics_collectd_sensubility_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Fix typo in remote pcsd_bind_addr
  manifests/profile/base/pacemaker_remote.pp
Due: none

Don't use defined
  manifests/profile/base/logging/rsyslog.pp
Due: none

Remove side-car containers in Create status
  templates/neutron/dibbler-client.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: none

Pin puppet-collectd
  Puppetfile_extras
Due: none

Add keystone_resources_managed option to the cinder api class
  manifests/profile/base/cinder/api.pp
Due: none

Remove neutron wrappers
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  spec/defines/tripleo_profile_base_neutron_wrappers_dibbler_client_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dnsmasq_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_radvd_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Prepare u-2 release
  metadata.json
Due: none

keystone: add a new parameter 'keystone_resources_managed'
  manifests/profile/base/keystone.pp
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
