Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Log stdout of HA containers
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_manila_share_bundle_spec.rb
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Hardcode openidc_cache_type parameter for keystone federation with OpenIdc
  manifests/profile/base/keystone.pp
Due: none

Update metadata to support el8 instead of el7 again
  Puppetfile_extras
  metadata.json
Due: none

Remove Panko support
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/panko.pp
  manifests/profile/base/panko/api.pp
  manifests/profile/base/panko/authtoken.pp
  spec/classes/tripleo_profile_base_panko_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add missing unit tests for gnocchi-metricd and gnocchi-statsd
  spec/classes/tripleo_profile_base_gnocchi_metricd_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_statsd_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Do not manage pv/vg for cinder iscsi backend
  manifests/profile/base/cinder/volume/iscsi.pp
  spec/classes/tripleo_profile_base_cinder_volume_iscsi_spec.rb
Due: none

Add unit tests for designate manifests
  spec/classes/tripleo_profile_base_designate_api_spec.rb
  spec/classes/tripleo_profile_base_designate_central_spec.rb
  spec/classes/tripleo_profile_base_designate_mdns_spec.rb
  spec/classes/tripleo_profile_base_designate_producer_spec.rb
  spec/classes/tripleo_profile_base_designate_sink_spec.rb
  spec/classes/tripleo_profile_base_designate_spec.rb
  spec/classes/tripleo_profile_base_designate_worker_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Remove fluentd manifests
  Puppetfile_extras
  manifests/profile/base/logging/fluentd.pp
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
  spec/fixtures/hieradata/step4.yaml
  templates/fluentd/fluentd_user.conf.erb
Due: none

Remove plumgrid support
  manifests/profile/base/neutron/plugins/plumgrid.pp
  manifests/profile/base/neutron/plumgrid.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove support for Sensu/Uchiwa
  Puppetfile_extras
  manifests/profile/base/monitoring/rabbitmq.pp
  manifests/profile/base/monitoring/sensu.pp
  manifests/profile/base/monitoring/uchiwa.pp
  metadata.json
  spec/classes/tripleo_profile_base_monitoring_sensu_spec.rb
Due: none

Remove unnecessory usage of hiera
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Replace deprecated nova::::metadata::novajoin::api::service_password
  manifests/profile/base/novajoin.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Deprecating Old Dell SC Volume Config
  manifests/profile/base/cinder/volume/dellsc.pp
  releasenotes/notes/sc_old_driver_deprecation_2368457faab68824.yaml
Due: none

CephRgw healthcheck aligned with ceph-ansible
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use puppet-openstack-module-unit-jobs to define unit test jobs
  zuul.d/layout.yaml
Due: none

Remove PE requirement from metadata.json
  metadata.json
Due: none

Rremove manifests for ceilometer-expirer
  manifests/profile/base/ceilometer/expirer.pp
  spec/classes/tripleo_profile_base_ceilometer_expirer_spec.rb
Due: none

Deprecating Dell EMC Xtremio Iscsi Volume Config
  manifests/profile/base/cinder/volume/dellemc_xtremio_iscsi.pp
  releasenotes/notes/xtremio_old_driver_deprecation_3368457faab68824.yaml
Due: none

Ensure that the HAProxy certificate is updated
  files/certmonger-haproxy-refresh.sh
Due: none

Support for Dell EMC SC Volume Config
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_sc.pp
  releasenotes/notes/sc-driver-a428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_sc_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Revert "Remove neutron wrappers"
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  spec/defines/tripleo_profile_base_neutron_wrappers_dibbler_client_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dnsmasq_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_radvd_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix ipv6 addrlabel for ceph-nfs
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Do not set cache parameter for openidc
  manifests/profile/base/keystone.pp
Due: none

Accept missing memcached_node_ips
  manifests/profile/base/aodh/authtoken.pp
  manifests/profile/base/barbican/authtoken.pp
  manifests/profile/base/cinder/authtoken.pp
  manifests/profile/base/designate/authtoken.pp
  manifests/profile/base/glance/authtoken.pp
  manifests/profile/base/gnocchi/authtoken.pp
  manifests/profile/base/heat.pp
  manifests/profile/base/heat/authtoken.pp
  manifests/profile/base/horizon.pp
  manifests/profile/base/ironic/authtoken.pp
  manifests/profile/base/ironic_inspector/authtoken.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/manila/authtoken.pp
  manifests/profile/base/mistral/authtoken.pp
  manifests/profile/base/neutron/authtoken.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/nova/authtoken.pp
  manifests/profile/base/novajoin/authtoken.pp
  manifests/profile/base/octavia/authtoken.pp
  manifests/profile/base/placement/authtoken.pp
  manifests/profile/base/swift/proxy.pp
  manifests/profile/base/zaqar/authtoken.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use http mode for nova_novncproxy
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support for Dell EMC XtremIO Volume Config
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_xtremio.pp
  releasenotes/notes/xtremio-driver-f428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_cinder_xtremio_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Remove EC2 API
  manifests/profile/base/nova/ec2api.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove duplicate entry of collectd-python package
  manifests/profile/base/metrics/collectd.pp
  spec/classes/tripleo_profile_base_metrics_collectd_spec.rb
Due: none

Finish HAProxy config for metrics_qdr
  manifests/haproxy.pp
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Change the way HAProxy service is reloaded
  manifests/profile/base/certmonger_user.pp
Due: none

Remove support for Neutron FUJITSU plugin
  manifests/profile/base/neutron/plugins/ml2.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow OCF resources to be created with --force
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Fix etcd's support for internal TLS
  manifests/certmonger/etcd.pp
  manifests/profile/base/cinder/volume.pp
  spec/classes/tripleo_certmonger_etcd_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: none

Powermax Config Fixes
  manifests/profile/base/cinder/volume/dellemc_powermax.pp
  spec/classes/tripleo_profile_base_cinder_powermax_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: none

Fix puppetlabs/mysql dependency in metadata.json
  metadata.json
Due: none

Stop using deprecated function mysql_password
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/database/mysql/user.pp
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Deprecate Keepalived
  manifests/keepalived.pp
  releasenotes/notes/keepalived_deprecated-199df5a0f3f35189.yaml
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
