Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

Use dogpile.cache.memcached in nova caching
  manifests/profile/base/nova.pp
  spec/classes/tripleo_profile_base_nova_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Set authtoken memcached_servers in undercloud services
  manifests/profile/base/mistral/api.pp
  manifests/profile/base/mistral/authtoken.pp
  manifests/profile/base/novajoin.pp
  manifests/profile/base/novajoin/authtoken.pp
  manifests/profile/base/zaqar.pp
  manifests/profile/base/zaqar/authtoken.pp
  spec/classes/tripleo_profile_base_mistral_authtoken_spec.rb
  spec/classes/tripleo_profile_base_novajoin_authtoken_spec.rb
  spec/classes/tripleo_profile_base_novajoin_spec.rb
  spec/classes/tripleo_profile_zaqar_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Make all mysql root users managed during stack creation/update
  manifests/profile/base/database/mysql.pp
Due: none

Use ctlplane for internal QDR communication
  manifests/profile/base/metrics/qdr.pp
  spec/classes/tripleo_profile_base_metrics_qdr_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Add heat::cache to heat profile
  manifests/profile/base/heat.pp
Due: none

Support for PowerMax Volume Config
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_powermax.pp
  releasenotes/notes/powermax-driver-d428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_powermax_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Deprecating VMax Volume Config
  manifests/profile/base/cinder/volume/dellemc_vmax_iscsi.pp
  releasenotes/notes/vmax_driver_deprecation_1368457faab68824.yaml
Due: none

Allow override of mysql/galera open files limit
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Add Octavia OVN Provider configuration (1 of 2)
  manifests/certmonger/ovn_octavia.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/octavia/provider/ovn.pp
  releasenotes/notes/add-octavia-provider-ovn-6734aa08af4772e4.yaml
  spec/classes/tripleo_profile_base_octavia_provider_ovn_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix etcd's support for internal TLS
  manifests/certmonger/etcd.pp
  manifests/profile/base/cinder/volume.pp
  spec/classes/tripleo_certmonger_etcd_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: none

Remove Dell EMC PS Series Driver support
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellps.pp
  spec/classes/tripleo_profile_base_cinder_volume_dellps_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step4.yaml
Due: none

Support for mariadb's ed25519 authentication
  files/mysql_ed25519_password.py
  lib/puppet/functions/mysql_ed25519_password.rb
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/database/mysql/include_and_check_auth.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Define nova::cache parameters in tht
  manifests/profile/base/nova.pp
  releasenotes/notes/nova-cache-in-tht-533e048fd6ccc65f.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Autonatically set memcache_servers for keystone cache
  manifests/profile/base/keystone.pp
  spec/classes/tripleo_profile_base_keystone_spec.rb
Due: none

Remove the usage of cinder::ceilometer
  manifests/profile/base/cinder.pp
  manifests/profile/base/cinder/api.pp
  spec/classes/tripleo_profile_base_cinder_api_spec.rb
  spec/classes/tripleo_profile_base_cinder_spec.rb
Due: none

Prepare u-3 release
  metadata.json
Due: none

Remove remaining zuul configuration for Tacker
  zuul.d/layout.yaml
Due: none

Cleanup hieradata for ceilometer::keystone::authtoken
  spec/fixtures/hieradata/default.yaml
Due: none

Remove undefined octavia::rabbit_password from default hieradata
  spec/fixtures/hieradata/default.yaml
Due: none

Fix broken unit tests
  spec/classes/tripleo_profile_base_nova_spec.rb
Due: none

Make CentOS8 unit tests voting
  zuul.d/layout.yaml
Due: none

Fix incorrect spec file name
  spec/classes/tripleo_profile_base_placement_api_spec.rb
Due: none

Add missing unit tests for placement manifests
  spec/classes/tripleo_profile_base_placement_authtoken_spec.rb
  spec/classes/tripleo_profile_base_placement_spec.rb
Due: none

Add Octavia OVN Provider configuration (2 of 2)
  manifests/profile/base/octavia/api.pp
  releasenotes/notes/deprecate-ovn-from-octavia-api-15e33154a31f20ec.yaml
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove manifests for Trove
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/trove/api.pp
  manifests/profile/base/trove/conductor.pp
  manifests/profile/base/trove/taskmanager.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove remaining implementation for TripleO UI
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Update metadata to support el8 instead of el7
  metadata.json
Due: none

Revert "Update metadata to support el8 instead of el7"
  metadata.json
Due: none

Remove OpenDaylight support
  Puppetfile_extras
  lib/puppet/functions/add_brackets.rb
  lib/puppet/functions/synchronize_odl_ovs_flows.rb
  manifests/certmonger/neutron.pp
  manifests/certmonger/opendaylight.pp
  manifests/certmonger/redis.pp
  manifests/haproxy.pp
  manifests/host/liquidio/compute.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/neutron/opendaylight.pp
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/base/neutron/plugins/ml2/opendaylight.pp
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/remove-odl-1ca26e0ffcbd13b5.yaml
  spec/classes/tripleo_certmonger_opendaylight_spec.rb
  spec/classes/tripleo_host_liquidio_compute_spec.rb
  spec/classes/tripleo_profile_base_neutron_ml2_opendaylight_spec.rb
  spec/classes/tripleo_profile_base_neutron_opendaylight_spec.rb
  spec/fixtures/hieradata/default.yaml
  spec/fixtures/hieradata/step1.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use a python shim for running for auth_ed25519 helper
  lib/puppet/functions/mysql_ed25519_password.rb
Due: none

Do not manage pv/vg for cinder iscsi backend
  manifests/profile/base/cinder/volume/iscsi.pp
  spec/classes/tripleo_profile_base_cinder_volume_iscsi_spec.rb
Due: none

Log stdout of HA containers
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_manila_share_bundle_spec.rb
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Hardcode openidc_cache_type parameter for keystone federation with OpenIdc
  manifests/profile/base/keystone.pp
Due: none

Enable deployment with external loadbalancers
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make the bundle user configurable via hiera
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container
