Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

New profile to configure libvirt-guests on compute host
  manifests/profile/base/nova/compute/libvirt_guests.pp
  manifests/releasenotes/notes/nova_libvirt_guests-d0e5424d40d9e26e.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Only assign redis_vip and redis_bind_opts if enabled
  manifests/haproxy.pp
  manifests/profile/pacemaker/haproxy.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Initial support for tls_priorities
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker_remote.pp
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add ceph grafana dashboard endpoint to haproxy
  manifests/haproxy.pp
  releasenotes/notes/ceph_grafana_endpoint-0e220cb59ee679e0.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow for customization of the Manila CephFS pool name
  manifests/profile/base/manila/share.pp
Due: none

Add missing base apache configs when internal TLS
  manifests/profile/base/glance/api.pp
  manifests/profile/base/neutron/server.pp
  manifests/profile/base/nova/ec2api.pp
  manifests/profile/base/swift/proxy.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow enabling custom backends with manila
  manifests/profile/base/manila/share.pp
Due: none

Add SQLAlchemy-collectd support
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/sqlalchemy_collectd.pp
Due: none

Add base class for neutron Mellanox agent
  manifests/profile/base/neutron/agents/mlnx.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Clean up a few FIXME
  manifests/profile/base/glance/api.pp
  manifests/profile/base/ironic_inspector.pp
  manifests/profile/base/rabbitmq.pp
  manifests/profile/base/zaqar.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove Midonet, Cassandra and Zookeeper
  manifests/cluster/cassandra.pp
  manifests/cluster/zookeeper.pp
  manifests/haproxy.pp
  manifests/network/midonet/agent.pp
  manifests/profile/base/neutron/agents/midonet.pp
  manifests/profile/base/neutron/midonet.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

[queens only] Add registry login support
  manifests/profile/base/docker.pp
Due: none

Use nova_metadata related hiera and make cell aware
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ceph grafana service certificate request
  manifests/certmonger/ceph_grafana.pp
  manifests/profile/base/certmonger_user.pp
Due: none

Ensure we set $haproxy_firewall_rules variable
  manifests/haproxy/endpoint.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove ovn specific logic for octavia
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

mysql/client: create tripleo.cnf everytime
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Close OVN VIP race by adding an ordering constraint
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add noop service provider and use it for httpd
  lib/puppet/provider/service/noop.rb
  manifests/profile/base/apache.pp
Due: none

Extend fencing to hosts using fence_rhevm agent.
  manifests/fencing.pp
Due: none

Add ability to install kernel related packages
  manifests/profile/base/kernel.pp
  spec/classes/tripleo_profile_base_kernel_spec.rb
Due: none

Ensure Barbican required roles are created by Keystone
  manifests/profile/base/keystone.pp
Due: none

Make puppet-tripleo compatible with latest puppet-rabbitmq
  manifests/certmonger/rabbitmq.pp
  spec/classes/tripleo_certmonger_rabbitmq_spec.rb
Due: none

Make the rabbitmq-ready exec more stringent
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Add certmonger-grafana-refresh script
  files/certmonger-grafana-refresh.sh
  manifests/certmonger/ceph_grafana.pp
Due: none

Remove deprecated ceilometer::dispatcher::gnocchi
  manifests/profile/base/ceilometer.pp
Due: none

Replace ceph_grafana-server with ceph_grafana
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
