Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

Remove tuned puppet manifest
  manifests/profile/base/tuned.pp
  releasenotes/notes/tuned-removed-ab68a7109a1e7403.yaml
  spec/classes/tripleo_profile_base_tuned_spec.rb
Due: none

Qdr: InternalTLS support.
  files/certmonger-metrics-qdr-refresh.sh
  manifests/certmonger/metrics_qdr.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/metrics/qdr.pp
Due: none

Switch metrics qdrs to edge mode
  manifests/profile/base/metrics/qdr.pp
Due: none

Allow overriding pacemaker_node_ips for staged upgrade
  manifests/profile/base/pacemaker.pp
Due: none

Allow enabling custom backends with manila
  manifests/profile/base/manila/share.pp
Due: none

Fix amphora provider driver description
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix rabbitmq staged upgrade
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

IHA robustness improvements
  manifests/profile/base/pacemaker/instance_ha.pp
Due: none

Force to use markdown to prevent pypi issue
  setup.cfg
Due: none

Bump metadata for a stein release
  metadata.json
Due: none

Add TLS support for rsyslog
  manifests/profile/base/logging/rsyslog.pp
  releasenotes/notes/rsyslog-tls-dfa676eda2ec646f.yaml
  spec/classes/tripleo_profile_base_logging_rsyslog_spec.rb
Due: none

Remove unnecessary logic
  manifests/profile/base/logging/rsyslog/file_input.pp
  spec/fixtures/hieradata/step2.yaml
Due: none

Fix bootstrap node for nova conductor
  manifests/profile/base/nova/conductor.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Replace hiera('service_names') by hiera('enabled_services')
  manifests/firewall.pp
  manifests/profile/base/logging/fluentd.pp
  manifests/profile/base/logging/rsyslog.pp
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/base/nova/migration/target.pp
  spec/fixtures/hieradata/step2.yaml
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include nova::metadata to compute profile
  manifests/profile/base/nova/compute.pp
  releasenotes/notes/nova_compute_include_metadata-21757b44cb976e5d.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add dateext and related parameters for logrotate
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/add-dateext-and-related-parameters-58dd288c74b818f7.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Fix interface_for_ip for newer facter versions
  lib/puppet/parser/functions/interface_for_ip.rb
Due: none

Support TLS deployments with KernelDisableIPv6 enabled
  manifests/tls_proxy.pp
Due: none

Close OVN VIP race by adding an ordering constraint
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Enable service token in nova and cinder
  manifests/profile/base/cinder.pp
  manifests/profile/base/nova.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add support for Ironic Networking Baremetal
  manifests/profile/base/neutron/agents/networking_baremetal.pp
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/base/neutron/plugins/ml2/networking_baremetal.pp
  releasenotes/notes/ironic-networking-baremetal-ebb19eca5fa235bc.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Cleanup uuid == docker
  manifests/fencing.pp
  manifests/profile/base/database/mysql/client.pp
  manifests/profile/base/nova/libvirt.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow to configure Apache MPM module
  manifests/profile/base/apache.pp
  releasenotes/notes/apache_mpm_tuning-deafdf6610ce57b2.yaml
  spec/classes/tripleo_profile_base_apache_spec.rb
Due: none

Add tcp-check connect port line to haproxy redis stanza
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Bump metadata for Train Milestone 2
  metadata.json
Due: none
