Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ensure that the HAProxy certificate is updated
  files/certmonger-haproxy-refresh.sh
Due: none

Fix haproxy ceph dashboard condition
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Switch RGW HAProxy healthcheck to use special RGW healthcheck url
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable to modify params of logrotate-crond.conf
  manifests/profile/base/logging/logrotate.pp
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Use leastcon and socket-level TCP keep-alives for Heat API
  manifests/haproxy.pp
  releasenotes/notes/haproxy-leastconn-overrides-bdb2068ef794ff1d.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Tune haproxy for long running sessions to use leastconn
  manifests/haproxy.pp
  releasenotes/notes/haproxy-leastconn-overrides-bdb2068ef794ff1d.yaml
  spec/classes/tripleo_haproxy_spec.rb
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add FFU support for ceph_nfs
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Fix up cluster_setup_extras usage
  manifests/profile/base/pacemaker.pp
Due: none

Make haproxy.pp honor EnableInternalTLS for rgw
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

HA: fix rabbitmq readiness check for rabbitmq-server 3.8
  manifests/profile/pacemaker/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Use relative names to include classes
  manifests/network/contrail/analytics.pp
  manifests/network/contrail/analyticsdatabase.pp
  manifests/network/contrail/config.pp
  manifests/network/contrail/control.pp
  manifests/network/contrail/database.pp
  manifests/network/contrail/heat.pp
  manifests/network/contrail/provision.pp
  manifests/network/contrail/vrouter.pp
  manifests/network/contrail/webui.pp
  manifests/profile/base/ceilometer/agent/notification.pp
  manifests/profile/base/etcd.pp
  manifests/profile/base/haproxy.pp
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/mistral.pp
  manifests/profile/base/neutron/opencontrail/vrouter.pp
  manifests/profile/base/zaqar.pp
  manifests/profile/pacemaker/haproxy.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Test neutron::db inclusion
  spec/classes/tripleo_profile_base_neutron_server_spec.rb
Due: none

Update Gemfile for stable/queens
  Gemfile
Due: none

Update Gemfile for stable/ussuri
  Gemfile
Due: none

Make promote timeout configurable
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Update Gemfile for stable/stein
  Gemfile
Due: none

Ensure post-save certmonger scripts target the right HA container
  files/certmonger-haproxy-refresh.sh
  files/certmonger-rabbitmq-refresh.sh
Due: none

bump metadata for new ussuri release
  metadata.json
Due: none

first devel release for Victoria ( victoria-1 )
  metadata.json
Due: none

Make sure python3-novaclient is installed before creating fence_compute
  manifests/profile/base/pacemaker.pp
Due: none

Include neutron::server::notification::nova class
  manifests/profile/base/neutron/server.pp
  spec/classes/tripleo_profile_base_neutron_server_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add certmonger-etcd-refresh.sh script
  files/certmonger-etcd-refresh.sh
  manifests/certmonger/etcd.pp
Due: none

Support for PowerStore Cinder Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_powerstore.pp
  releasenotes/notes/powerstore-driver-e428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_powerstore_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Port jobs from centos7 to centos8
  zuul.d/layout.yaml
Due: none

Support for PowerFlex Cinder Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_powerflex.pp
  releasenotes/notes/powerflex-driver-f728e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_powerflex_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: none

Use pcs 0.9 style authkey/remotes when doing an upgrade
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker_remote.pp
Due: none

Switch includes to absolute
  Gemfile
  manifests/certmonger/ovn_metadata.pp
  manifests/certmonger/ovn_octavia.pp
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_powermax.pp
  manifests/profile/base/cinder/volume/dellemc_sc.pp
  manifests/profile/base/cinder/volume/dellemc_vxflexos.pp
  manifests/profile/base/cinder/volume/dellemc_xtremio.pp
  manifests/profile/base/designate/authtoken.pp
  manifests/profile/base/octavia/provider/ovn.pp
  manifests/profile/base/pacemaker_remote.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Update Puppet requirement to >= 6.0.0
  metadata.json
Due: none

Deprecating VxFlex OS Volume Config
  manifests/profile/base/cinder/volume/dellemc_vxflexos.pp
  releasenotes/notes/vxflexos_driver_deprecation_5568457faab68824.yaml
Due: none

Cleanup manila netapp deprecated option usage
  manifests/profile/base/manila/share.pp
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
