Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

Add ability to install kernel related packages
  manifests/profile/base/kernel.pp
  spec/classes/tripleo_profile_base_kernel_spec.rb
Due: none

Ensure Barbican required roles are created by Keystone
  manifests/profile/base/keystone.pp
Due: none

Bump metadata for train m3
  metadata.json
Due: none

Fix tripleo::profile::base::monitoring::sensu rspec test
  spec/classes/tripleo_profile_base_monitoring_sensu_spec.rb
Due: none

Add support for cinder RBD driver parameter
  manifests/profile/base/cinder/volume/rbd.pp
  spec/classes/tripleo_profile_base_cinder_volume_rbd_spec.rb
Due: none

Remove deprecated cinder parameters
  manifests/profile/base/cinder/api.pp
  manifests/profile/base/cinder/volume/dellemc_vnx.pp
  manifests/profile/base/cinder/volume/dellsc.pp
  spec/classes/tripleo_profile_base_cinder_api_spec.rb
Due: none

Use memcached for token caching in cinder authtoken
  manifests/profile/base/cinder/api.pp
  manifests/profile/base/cinder/authtoken.pp
  spec/classes/tripleo_profile_base_cinder_authtoken_spec.rb
Due: none

Use memcached for token caching in glance authtoken
  manifests/profile/base/glance/api.pp
  manifests/profile/base/glance/authtoken.pp
  spec/classes/tripleo_profile_base_glance_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use memcached for token caching in neutron authtoken
  manifests/profile/base/neutron/authtoken.pp
  manifests/profile/base/neutron/server.pp
  spec/classes/tripleo_profile_base_neutron_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add missing tests for module import in nova
  spec/classes/tripleo_profile_base_nova_api_spec.rb
  spec/classes/tripleo_profile_base_nova_spec.rb
Due: none

Use memcached for token caching in heat authtoken
  manifests/profile/base/heat.pp
  manifests/profile/base/heat/authtoken.pp
  spec/classes/tripleo_profile_base_heat_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Prepare puppet-tripleo 10.5.1 (stein)
  metadata.json
Due: none

Prepare puppet-tripleo 9.5.1 (rocky)
  metadata.json
Due: none

Prepare puppet-tripleo 8.5.1 (queens)
  metadata.json
Due: none

Use memcached for token caching in octavia authtoken
  manifests/profile/base/octavia/api.pp
  manifests/profile/base/octavia/authtoken.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
  spec/classes/tripleo_profile_base_octavia_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use memcached for token caching in ironic authtoken
  manifests/profile/base/ironic/api.pp
  manifests/profile/base/ironic/authtoken.pp
  manifests/profile/base/ironic_inspector.pp
  manifests/profile/base/ironic_inspector/authtoken.pp
  spec/classes/tripleo_profile_base_ironic_api_spec.rb
  spec/classes/tripleo_profile_base_ironic_authtoken_spec.rb
  spec/classes/tripleo_profile_base_ironic_inspector_authtoken_spec.rb
  spec/classes/tripleo_profile_base_ironic_inspector_spec.rb
  spec/classes/tripleo_profile_base_ironic_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Add unit tests for tripleo::profile::base::glance::api
  spec/classes/tripleo_profile_base_glance_api_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Use memcached for token caching in authtoken for telemetry services
  manifests/profile/base/aodh/api.pp
  manifests/profile/base/aodh/authtoken.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/gnocchi/authtoken.pp
  manifests/profile/base/panko/api.pp
  manifests/profile/base/panko/authtoken.pp
  spec/classes/tripleo_profile_base_aodh_api_spec.rb
  spec/classes/tripleo_profile_base_aodh_authtoken_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_authtoken_spec.rb
  spec/classes/tripleo_profile_base_panko_authtoken_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Use memcached for token caching in barbican authtoken
  manifests/profile/base/barbican/api.pp
  manifests/profile/base/barbican/authtoken.pp
  spec/classes/tripleo_profile_base_barbican_api_spec.rb
  spec/classes/tripleo_profile_base_barbican_authtoken_spec.rb
Due: none

Add missing response to Redis tcp-check in HAProxy
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Imporve unit test coverage for cinder manifects
  spec/classes/tripleo_profile_base_cinder_api_spec.rb
  spec/classes/tripleo_profile_base_cinder_spec.rb
Due: none

Support connecting OVN DB over SSL
  manifests/certmonger/neutron_ovn.pp
  manifests/certmonger/ovn_controller.pp
  manifests/certmonger/ovn_dbs.pp
  manifests/certmonger/ovn_metadata.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/neutron/agents/ovn.pp
  manifests/profile/base/neutron/ovn_metadata.pp
  manifests/profile/base/neutron/plugins/ml2/ovn.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  releasenotes/notes/ovn-ssl-298db2d617d7cc5e.yaml
  spec/classes/tripleo_certmonger_ovn_dbs.rb
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Improve unit test coverage for neutron manifests
  spec/classes/tripleo_profile_base_neutron_dhcp_spec.rb
  spec/classes/tripleo_profile_base_neutron_l3_spec.rb
  spec/classes/tripleo_profile_base_neutron_ovs_spec.rb
  spec/classes/tripleo_profile_base_neutron_server_spec.rb
  spec/classes/tripleo_profile_base_neutron_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Support networking-ansible-ml2 coordination
  manifests/profile/base/neutron/plugins/ml2/networking_ansible.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable deep_compare for fencing resource
  manifests/fencing.pp
Due: none

Implement stonith levels and enable kdump agent.
  manifests/fencing.pp
Due: none

Make the errors around fencing and IHA clearer
  manifests/fencing.pp
Due: none

Support deploying multiple Cinder Pure Storage backends
  manifests/profile/base/cinder/volume/pure.pp
  spec/classes/tripleo_profile_base_cinder_volume_pure_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Correct ovn_controller_certificate_specs hiera variable name
  manifests/profile/base/certmonger_user.pp
Due: none

Fix wrong comment about heat_enable_db_purge
  manifests/profile/base/heat.pp
Due: none

Safeguard against 'Undef' length() checks.
  manifests/fencing.pp
Due: none

Remove Tacker service
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/tacker.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container
