Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$

Fix fluentd multifile problem.
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Copytruncate containerized logrotate configuration
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-copytruncate-hourly-f0851bec551f5f5f.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

adding deployment_type fact in support
  manifests/fencing.pp
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Prevent triggering firewall actions while configuring HA services
  manifests/fencing.pp
Due: none

Disable chrony-wait
  manifests/profile/base/time/ntp.pp
Due: none

Dell EMC SC: Add support for excluded_domain_ips
  manifests/profile/base/cinder/volume/dellsc.pp
  releasenotes/notes/cinder-dellsc-excluded-domain_ips-1004544d96796e76.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

First tag for Stein 10.0.0
  metadata.json
Due: none

Make sure that ceph-nfs and the VIP start in the right order
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Do not create metadata ssl proxy if we have metadata api via httpd wsgi
  manifests/profile/base/nova/api.pp
  releasenotes/notes/nova-metadata-wsgi-ssl-a64c2b9a99deb7a9.yaml
Due: none

Dissuade .gitignore references to personal tools
  .gitignore
Due: none

Introduce alternative to get ip_addresses and server_names
  manifests/haproxy/endpoint.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Configure the Metadata Agent only when enable_metadata_agent is set
  manifests/profile/base/neutron/agents/nuage.pp
Due: none

Fix nic_alias fact error
  lib/facter/nic_alias.rb
Due: none

Update min tox version to 2.0
  tox.ini
Due: none

Add support for ODL-OVS IPv6 deployment
  lib/puppet/functions/add_brackets.rb
  manifests/profile/base/neutron/plugins/ml2/opendaylight.pp
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/add-support-for-IPv6-deployment-988400c781b92066.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Fix ceph-nfs duplicate property
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Pin puppet-snmp
  Puppetfile_extras
Due: none

Rework GDPR compliant logrotate config
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-purge-56143a979ba80b51.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

ceilometer: escape % in crontab
  manifests/profile/base/ceilometer/expirer.pp
  spec/classes/tripleo_profile_base_ceilometer_expirer_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove restart_flag leftovers for bundles
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Add support for cinder backend availability zones
  manifests/profile/base/cinder/volume/dellemc_unity.pp
  manifests/profile/base/cinder/volume/dellemc_vmax_iscsi.pp
  manifests/profile/base/cinder/volume/dellemc_vnx.pp
  manifests/profile/base/cinder/volume/dellemc_xtremio_iscsi.pp
  manifests/profile/base/cinder/volume/dellps.pp
  manifests/profile/base/cinder/volume/dellsc.pp
  manifests/profile/base/cinder/volume/hpelefthand.pp
  manifests/profile/base/cinder/volume/iscsi.pp
  manifests/profile/base/cinder/volume/netapp.pp
  manifests/profile/base/cinder/volume/nfs.pp
  manifests/profile/base/cinder/volume/nvmeof.pp
  manifests/profile/base/cinder/volume/pure.pp
  manifests/profile/base/cinder/volume/rbd.pp
  manifests/profile/base/cinder/volume/scaleio.pp
  manifests/profile/base/cinder/volume/veritas_hyperscale.pp
  releasenotes/notes/add-cinder-backend-az-parameters-f9ab30b42b4df37b.yaml
  spec/classes/tripleo_profile_base_cinder_volume_iscsi_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_nfs_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_nvmeof_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_rbd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove default value for cinder RBD backend_host
  manifests/profile/base/cinder/volume/rbd.pp
  releasenotes/notes/change-default-cinder-rbd-backend-host-2b37388637756c80.yaml
  spec/classes/tripleo_profile_base_cinder_volume_rbd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Dell EMC SC: Add use_multipath_for_image_xfer
  manifests/profile/base/cinder/volume/dellsc.pp
  releasenotes/notes/dellsc-driver-b7cd300a24a64b01.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix Undercloud masquerading firewall rules
  manifests/masquerade_networks.pp
  releasenotes/notes/fix-masquerade-networks-c9ab4affb17627e1.yaml
  spec/classes/tripleo_masquerade_networks_spec.rb
Due: none

Disable puppet-5 jobs
  zuul.d/layout.yaml
Due: none

Bump metadata for Stein milestone 1
  metadata.json
Due: none

Update functions to fix unit tests
  lib/puppet/functions/ip_to_erl_format.rb
  lib/puppet/functions/is_ip_addresses.rb
  lib/puppet/functions/netmask_to_cidr.rb
  lib/puppet/parser/functions/lookup_hiera_hash.rb
  lib/puppet/parser/functions/netmask_to_cidr.rb
  spec/classes/tripleo_keepalive_spec.rb
  spec/functions/lookup_hiera_hash_spec.rb
Due: none

Update parser functions to 4.x api
  lib/puppet/functions/docker_volumes_to_storage_maps.rb
  lib/puppet/functions/extract_id.rb
  lib/puppet/functions/list_to_hash.rb
  lib/puppet/functions/list_to_zookeeper_hash.rb
  lib/puppet/functions/noop_resource.rb
  lib/puppet/functions/tripleo_swift_devices.rb
  lib/puppet/parser/functions/tripleo_swift_devices.rb
  spec/functions/docker_volumes_to_storage_maps_spec.rb
  spec/functions/extract_id_spec.rb
  spec/functions/list_to_hash_spec.rb
  spec/functions/list_to_zookeeper_hash_spec.rb
  spec/functions/noop_resource_spec.rb
  spec/functions/tripleo_swift_devices_spec.rb
Due: none
