Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$

Simplify logrotate job
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Handle image_volume_cache_enabled in PureStorage Cinder backend.
  manifests/profile/base/cinder/volume/pure.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

snmp: remove ununsed trapsink
  manifests/profile/base/snmp.pp
  spec/classes/tripleo_profile_base_snmp_spec.rb
Due: none

Prepare Stein-3
  metadata.json
Due: none

Support cephfs_volume_mode parameter
  manifests/profile/base/manila/share.pp
  releasenotes/notes/Support-ceph_volume_mode-parameter-220b1026aebd9e3b.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Deprecate warnings for Ceilometer and Gnocchi
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/gnocchi.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix kolla permissions errors inside nova_virtlogd
  manifests/profile/base/nova/libvirt.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Remove Congress
  manifests/haproxy.pp
  manifests/profile/base/congress.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/keystone.pp
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

add glue for nova serialproxy support
  manifests/profile/base/nova/serialproxy.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Run octavia-api under apache
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable internal TLS options for ironic API
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

haproxy/certmonger: use container_cli to trigger HUP signal
  files/certmonger-haproxy-refresh.sh
Due: none

Refactor collectd/gnocchi integration
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/gnocchi.pp
  templates/collectd/collectd-gnocchi.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Stop creating symlinks for lbivirt's CA files
  manifests/certmonger/ca/libvirt.pp
  manifests/profile/base/certmonger_user.pp
Due: none

Replace openstack.org git:// URLs with https://
  spec/spec_helper_acceptance.rb
Due: none

Add missing s3 case in gnocchi::api
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Pin puppet-sensu module
  Puppetfile_extras
Due: none

Unmanage SELinux within puppet
  manifests/selinux.pp
  spec/classes/tripleo_selinux_spec.rb
Due: none

placement: Initial extraction of the Placement service from Nova
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/placement.pp
  manifests/profile/base/placement/api.pp
  manifests/profile/base/placement/authtoken.pp
  spec/classes/tripleo_profile_base_placement_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow neutron wrapper containers log to syslog
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: none

Add an Endpoint in ceilometer
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Qdr: InternalTLS support.
  files/certmonger-metrics-qdr-refresh.sh
  manifests/certmonger/metrics_qdr.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix generating connections to OVN db
  manifests/profile/base/neutron/agents/ovn.pp
  manifests/profile/base/neutron/ovn_metadata.pp
  manifests/profile/base/neutron/plugins/ml2/ovn.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/ovn_northd.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Use cell information for mysql and novncproxy haproxy proxies
  manifests/haproxy.pp
  releasenotes/notes/haproxy_cell_server_names-5cc0e81836d568b7.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Force C.UTF-8 when dealing with rabbitmq
  manifests/profile/base/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none

Add ability to configure Cinder's NFS snapshot support
  manifests/profile/base/cinder/volume/nfs.pp
  releasenotes/notes/add-cinder-nfs-snapshot-support-ac547f24dddf97e8.yaml
  spec/classes/tripleo_profile_base_cinder_volume_nfs_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix RabbitMQ locale for CentOS 7 (Puppet part)
  manifests/profile/base/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: none
