Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$

cell_v2 multi-cell
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/neutron.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/nova/conductor.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow to set log facility for HAProxy
  manifests/haproxy.pp
  releasenotes/notes/haproxy-facility-8196cc8e1299d79b.yaml
  spec/classes/tripleo_haproxy_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Prepare for 8.3.7 release
  metadata.json
Due: none

mysql: use clustercheck credentials to poll galera state
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

mysql: fix root password update for containerized mysql
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Extra variables to reprovision pacemaker cluster one node at a time.
  manifests/profile/base/pacemaker.pp
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix generating connections to OVN db
  manifests/profile/base/neutron/agents/ovn.pp
  manifests/profile/base/neutron/ovn_metadata.pp
  manifests/profile/base/neutron/plugins/ml2/ovn.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/ovn_northd.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Change haproxy mode to http for octavia
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add httpd and tls support to manila-api
  manifests/haproxy.pp
  manifests/profile/base/manila/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Reload HAProxy when certificate is renewed
  files/certmonger-haproxy-refresh.sh
  manifests/certmonger/haproxy.pp
  manifests/profile/base/certmonger_user.pp
Due: none

httpd: Remove default post-save command for certmonger
  manifests/certmonger/httpd.pp
  manifests/profile/base/certmonger_user.pp
Due: none

rabbitmq: Remove default post-save command for certmonger
  files/certmonger-rabbitmq-refresh.sh
  manifests/certmonger/rabbitmq.pp
Due: none

redis: Remove default post-save command for certmonger
  files/certmonger-redis-refresh.sh
  manifests/certmonger/redis.pp
Due: none

novnc-proxy: Remove default post-save command for certmonger
  files/certmonger-novnc-proxy-refresh.sh
  manifests/certmonger/novnc_proxy.pp
Due: none

neutron dhcpd: Add script for certmonger postsave_cmd
  files/certmonger-neutron-dhcpd-refresh.sh
  manifests/certmonger/neutron.pp
Due: none

Prepare for 8.4.0 release
  metadata.json
Due: none

Support redfish inside a fencing yaml file
  manifests/fencing.pp
Due: none

Prepare 8.4.1 (Queens) release
  metadata.json
Due: none

Prepare 9.3.1 (Rocky) release
  metadata.json
Due: none

Adding a udev rule to save sriov interface name before configuring switchdev
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Add OVN to enabled provider drivers in Octavia
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support cephfs_volume_mode parameter
  manifests/profile/base/manila/share.pp
  releasenotes/notes/Support-ceph_volume_mode-parameter-220b1026aebd9e3b.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Use validate_legacy
  manifests/cluster/cassandra.pp
  manifests/cluster/zookeeper.pp
  manifests/firewall/rule.pp
  manifests/host/liquidio/config.pp
  manifests/network/contrail/config.pp
  manifests/network/contrail/neutron_plugin.pp
  manifests/profile/base/aide/rules.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/database/mysql/user.pp
  manifests/profile/base/etcd.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/neutron/opendaylight.pp
  manifests/profile/base/nova/migration/target.pp
  manifests/profile/base/securetty.pp
  manifests/profile/base/snmp.pp
  manifests/profile/base/swift/ringbuilder.pp
Due: tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

certmonger: Add dnsnames parameter to redis cert request
  manifests/certmonger/redis.pp
Due: none

Prepare 9.4.0 (Rocky) release
  metadata.json
Due: none

Support cinder-volume running active-active
  manifests/profile/base/cinder/volume.pp
  releasenotes/notes/cinder-volume-active-active-ffaa12e6ba862f51.yaml
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container
