Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

final release (GA) for ussuri
  metadata.json
Due: none

Only run the VIP creation code when enable_load_balancer is set to true
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Make pipeline config more flexible
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/ceilometer/agent/notification.pp
  spec/classes/tripleo_profile_base_ceilometer_agent_notification_spec.rb
Due: none

Deprecating ScaleIO Volume Config
  manifests/profile/base/cinder/volume/scaleio.pp
  releasenotes/notes/scaleio_driver_deprecation_4468457faab68824.yaml
Due: none

Include vendordata in nova-api and nova-metadata-api
  manifests/profile/base/nova/api.pp
  manifests/profile/base/nova/metadata.pp
  spec/classes/tripleo_profile_base_nova_api_spec.rb
  spec/classes/tripleo_profile_base_nova_metadata_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

remove scenario001-004 queens multinode jobs
  zuul.d/layout.yaml
Due: none

[stable only] Fix duplicated test case for nova::api
  spec/classes/tripleo_profile_base_nova_api_spec.rb
Due: none

Allow the Mistral tunnel timeout to be configurable.
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include vendordata class in nova-compute
  manifests/profile/base/nova/compute.pp
  spec/classes/tripleo_profile_base_nova_compute_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Update .gitreview for stable/ussuri
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: none

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Support for Dell EMC VXFlexOS Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_vxflexos.pp
  releasenotes/notes/vxflexos-driver-aec8e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_cinder_vxflexos_spec.rb
Due: none

Fix ipv6 addrlabel for ceph-nfs
  manifests/profile/pacemaker/ceph_nfs.pp
Due: none

Allow OCF resources to be created with --force
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

metadata.json: bump version for the start of Victoria
  metadata.json
Due: none

metadata/ussuri: fix openstacklib requirement
  metadata.json
Due: none

Remove selinux relabel mount option for neutron
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: none

Support for Dell EMC XtremIO Volume Config
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_xtremio.pp
  releasenotes/notes/xtremio-driver-f428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_cinder_xtremio_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Deprecate Keepalived
  manifests/keepalived.pp
  releasenotes/notes/keepalived_deprecated-199df5a0f3f35189.yaml
Due: none

Prepare 11.5.0 release
  metadata.json
Due: none

Prepare 10.6.0 release
  metadata.json
Due: none

Prepare 8.6.0 release
  metadata.json
Due: none

Stop to use the __future__ module.
  files/cm_ipa_subca_wrapper.py
Due: none

Support for Dell EMC SC Volume Config
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_sc.pp
  releasenotes/notes/sc-driver-a428e372280c44e6.yaml
  spec/classes/tripleo_profile_base_cinder_sc_spec.rb
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/fixtures/hieradata/step5.yaml
Due: none

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  releasenotes/source/conf.py
Due: none

Remove obsolete 'http' backend from glance configuration
  manifests/profile/base/glance/api.pp
  spec/classes/tripleo_profile_base_glance_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include placement::api class
  manifests/profile/base/placement/api.pp
  spec/classes/tripleo_profile_base_placement_api_spec.rb
Due: none
