Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fixup tests for puppet 6
  Puppetfile_extras
  spec/classes/tripleo_haproxy_spec.rb
  spec/defines/tripleo_haproxy_endpoint_spec.rb
  spec/fixtures/hieradata/default.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Check for neutron_plugin_ml2_ansible service when including plugin
  manifests/profile/base/neutron/plugins/ml2.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable disablereuse option in Zaqar proxy backend
  manifests/ui.pp
Due: none

Implement stonith levels and enable kdump agent.
  manifests/fencing.pp
Due: none

Add support to set ovs_nb_connection
  manifests/profile/base/octavia/api.pp
  releasenotes/notes/add-octavia-ovn-nb-connection-9d5bc428c4ff35af.yaml
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Support redfish inside a fencing yaml file
  manifests/fencing.pp
Due: none

Fix puppet unit ci config
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Remove unused docker_distribution template
  templates/docker_distribution/registry_config.yml.erb
Due: none

remove ssh from tripleo::firewall::pre
  manifests/firewall/pre.pp
  spec/classes/tripleo_firewall_spec.rb
Due: none

Move unfencing to meta_params
  manifests/profile/base/pacemaker/instance_ha.pp
  spec/classes/tripleo_profile_base_pacemaker_spec.rb
Due: none

redis HA: allow SELinux relabel for /var/run/redis
  manifests/profile/pacemaker/database/redis_bundle.pp
Due: none

Safeguard against 'Undef' length() checks.
  manifests/fencing.pp
Due: none

Switch metrics qdrs to edge mode
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Expose innodb_lock_wait_timeout via hieradata.
  manifests/profile/base/database/mysql.pp
Due: none

Remove ntp
  Puppetfile_extras
  manifests/profile/base/time/ntp.pp
  releasenotes/notes/remove-ntp-34d5eb69bfc231b0.yaml
  spec/classes/tripleo_profile_base_time_ntp_spec.rb
Due: none

Update version in metadata.json
  metadata.json
Due: none

Let fluentd not create /etc/rsyslog.d/fluentd.conf file
  manifests/profile/base/logging/fluentd.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix kolla permissions errors inside nova_virtlogd
  manifests/profile/base/nova/libvirt.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Allow neutron wrapper containers log to syslog
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: none

Remove NovaConsoleauth Service
  manifests/profile/base/nova/consoleauth.pp
  releasenotes/notes/nova_remove_nova-consoleauth-c126434b3dbda106.yaml
  spec/classes/tripleo_profile_base_nova_consoleauth_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

certmonger: Add dnsnames parameter to redis cert request
  manifests/certmonger/redis.pp
Due: none

Fix missing version requirements
  metadata.json
Due: none

Bump metadata for final pike release
  metadata.json
Due: none

Remove deprecated admin ssl options
  manifests/profile/base/keystone.pp
Due: none

Refactor collectd/gnocchi integration
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/gnocchi.pp
  templates/collectd/collectd-gnocchi.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container

Allow custom per-service bind_options for haproxy
  manifests/haproxy/endpoint.pp
  manifests/haproxy/horizon_endpoint.pp
  releasenotes/notes/haproxy-custom-bind-opts-09226d990c62063d.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Add nova::cinder to nova compute
  manifests/profile/base/nova/compute.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include 'octavia' driver on ML2/OVN deployments
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/barbican.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/nova/ec2.*$, ^manifests/profile/(base|pacemaker)/panko.*$, ^manifests/profile/(base|pacemaker)/swift.*$, ^manifests/profile/(base|pacemaker)/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/mistral.*$, ^manifests/profile/(base|pacemaker)/sahara.*$, ^manifests/profile/(base|pacemaker)/designate.*$
  tripleo-ci-centos-7-scenario004-standalone: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/manila.*$, zuul.d/layout.yaml
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
  tripleo-ci-centos-7-scenario008-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$, ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$, ^lib/puppet/functions/.*odl.*$
  tripleo-ci-centos-7-scenario010-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/nova.*$, ^manifests/profile/(base|pacemaker)/neutron.*$, ^manifests/profile/(base|pacemaker)/octavia.*$
