Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

Explicitly convert stonith_level fact to int
  lib/facter/stonith_levels.rb
Due: none

Corrected default value for container_cli
  files/certmonger-haproxy-refresh.sh
  files/certmonger-metrics-qdr-refresh.sh
  files/certmonger-neutron-dhcpd-refresh.sh
  files/certmonger-novnc-proxy-refresh.sh
  files/certmonger-rabbitmq-refresh.sh
  files/certmonger-redis-refresh.sh
Due: none

Remove haproxy ironic-inspector http-check workaround
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

ovn_dbs override support
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Avoid failing on rsyslog
  manifests/profile/base/logging/rsyslog/file_input.pp
Due: none

Fix grafana listener options to allow affinity
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Synchronize connection configuration for metrics
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/qdr.pp
Due: none

Fill sslProfile only when it is defined
  manifests/profile/base/metrics/qdr.pp
  spec/classes/tripleo_profile_base_metrics_qdr_spec.rb
Due: none

Revert "Replace hiera('service_names') by hiera('enabled_services')"
  manifests/firewall.pp
  manifests/profile/base/logging/fluentd.pp
  manifests/profile/base/logging/rsyslog.pp
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/base/nova/migration/target.pp
  spec/fixtures/hieradata/step2.yaml
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

keystone: add a new parameter 'keystone_resources_managed'
  manifests/profile/base/keystone.pp
Due: none

Updating pinned versions
  Puppetfile_extras
Due: none

Pin modules to versions shipped
  Puppetfile_extras
Due: none

Pin modules to shipped versions
  Puppetfile_extras
Due: none

Pin rsyslog
  Puppetfile_extras
Due: none

Enable deployment with external loadbalancers
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update the community page.
  releasenotes/notes/nova_metadata_wsgi-bbc8e5e053282a83.yaml
Due: none

Add octavia::nova to Octavia services
  manifests/profile/base/octavia/health_manager.pp
  manifests/profile/base/octavia/housekeeping.pp
  manifests/profile/base/octavia/worker.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

bump metadata for new train version
  metadata.json
Due: none

Add support to configure pcsd bind address
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker_remote.pp
Due: none

Make sure neutron [placement] config section is set
  manifests/profile/base/neutron/server.pp
  spec/classes/tripleo_profile_base_neutron_server_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Enable metrics qdr to use public VIP
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Fix typo in sslProfile conditional
  manifests/profile/base/metrics/qdr.pp
Due: none

Change parameter to 'coordination_uri'
  manifests/profile/base/neutron/plugins/ml2/networking_ansible.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Porting functions to the modern Puppet 4.x API
  lib/puppet/functions/tripleo/interface_for_ip.rb
  lib/puppet/functions/tripleo/local_fence_devices.rb
  spec/functions/tripleo_interface_for_ip_spec.rb
  spec/functions/tripleo_local_fence_devices_spec.rb
Due: none

Add keystone_resources_managed option to the cinder api class
  manifests/profile/base/cinder/api.pp
Due: none
