Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

zuul.d/layout.yaml:

- project-template:
    name: puppet-tripleo-module-unit-jobs
    check:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic
        - puppet-openstack-unit-latest-ubuntu-bionic:
            voting: false
    gate:
      jobs:
        - puppet-openstack-unit-5.5-centos-7
        - puppet-openstack-unit-6.0-ubuntu-bionic

- project:
    templates:
      - puppet-openstack-check-jobs
      - puppet-tripleo-module-unit-jobs
      - tripleo-undercloud-jobs
      - tripleo-multinode-container-minimal
      - release-notes-jobs-python3
      - tripleo-standalone-scenarios-full
    check:
      jobs:
        - tripleo-ci-centos-7-scenario007-multinode-oooq-container:
            files:
              - ^manifests/profile/pacemaker/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ovn.*$
              - ^manifests/profile/(base|pacemaker)/tacker.*$
        - tripleo-ci-centos-7-scenario008-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/neutron/ml2.pp$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/plugins/ovs/opendaylight.*$
              - ^manifests/profile/(base|pacemaker)/neutron/opendaylight.*$
              - ^lib/puppet/functions/.*odl.*$
        - tripleo-ci-centos-7-scenario010-multinode-oooq-container:
            files:
              - ^manifests/haproxy.*$
              - ^manifests/profile/(base|pacemaker)/glance.*$
              - ^manifests/profile/(base|pacemaker)/nova.*$
              - ^manifests/profile/(base|pacemaker)/neutron.*$
              - ^manifests/profile/(base|pacemaker)/octavia.*$
    gate:
      queue: tripleo

Fix upper case checks for SRIOV interface
  lib/puppet/type/sriov_vf_config.rb
  releasenotes/notes/Fixes-SRIOV-upper-case-name-checks-306011421f53131d.yaml
  spec/unit/type/sriov_vf_config_spec.rb
Due: none

Prepare RC + stable/train
  metadata.json
Due: none

Allow the IHA OCF and fencing resource to be moved to the nova service user
  manifests/profile/base/pacemaker/instance_ha.pp
Due: none

Add configurable monitor timeouts for ovn dbs
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  releasenotes/notes/setup_timeouts_ovn_dbs-630a7ccfda5976a5.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update .gitreview for stable/train
  .gitreview
Due: none

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: none

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

ovn-dbs-bundle: Prepare for supporting new OVN version with separarte run dirs
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Only configure libvirt-guests if enabled
  manifests/profile/base/nova/compute/libvirt_guests.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Include ::nova::pci to nova api profile
  manifests/profile/base/nova/api.pp
Due: tripleo-ci-centos-7-scenario010-multinode-oooq-container

Qdr: InternalTLS support.
  files/certmonger-metrics-qdr-refresh.sh
  manifests/certmonger/metrics_qdr.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/metrics/qdr.pp
Due: none

Improve stonith leves idempotency.
  lib/facter/stonith_levels.rb
  manifests/fencing.pp
Due: none

Fill sslProfile only when it is defined
  manifests/profile/base/metrics/qdr.pp
  spec/classes/tripleo_profile_base_metrics_qdr_spec.rb
Due: none

Remove neutron wrappers
  manifests/profile/base/neutron.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  spec/defines/tripleo_profile_base_neutron_wrappers_dibbler_client_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dnsmasq_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_radvd_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/radvd.epp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Ceph Grafana should not be exposed by HAProxy as a public service
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Synchronize connection configuration for metrics
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/qdr.pp
Due: none

Switch HA containers to k8s-file log-driver and make it a parameter
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_manila_share_bundle_spec.rb
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Add the ability to configure ovn-remote-probe-interval
  manifests/profile/base/neutron/ovn_metadata.pp
  releasenotes/notes/ovn_metadata_remote_probe_interval-6fcbdb1e2c9a9a33.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario010-multinode-oooq-container

Check for crm_node presence before collecting fact
  lib/facter/stonith_levels.rb
Due: none

update metadata for a version bump
  metadata.json
Due: none

Prepare first U release - 12.0.0
  metadata.json
Due: none
